body {

    font-family: arial;
    background-color: blue;
}

nav {

display: flex;
    flex-direction: column;  
    align-items: flex-end; 
    gap: 0.125 em;
}

    nav {
color: orange;

}

#about{

color:blueviolet;
order: 2;
align-self: flex-start;

}

/*.child {*/

/*}

.static {
 /* is default*/
  /*position in relation to elemints*/
  /*top, bottom, left, right, z-index have no effect*/  


